:root {
    font-size: 16px;
}

body {
    margin-left:0vw;
    margin-right:0vw;
    margin-top: 0vw;
 
    border-right:solid transparent 5vw; 
    border-left: solid transparent 5vw;
  background-image: url("5_free_seamless_icon_patterns.jpg");
    


}
h3
{
  color: #d9d9d9;
  font-family: 'Lobster Two', cursive;
    font-size: 2rem;
    margin-top: .2VW;
    margin-left: .2vw;
     text-decoration: underline overline;
}
.disp
{
  color: white;
  font-size: 1.3rem;
}

.container {
    display: inline-flex;
    flex-direction: column;
    
    background-color: white;
    background-image: url("servimg2.JPG") ;
    background-repeat: no-repeat;
    width: 100%;
        background-size: cover;
}

.banner .card {
    


    
    display:flex;
    flex-direction: column;
    width: 100%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;

}

.banner .card .heading {
    color:   #d9d9d9;
  font-family: 'Abril Fatface', cursive;
    font-size: 9.8rem;
    margin-top: 0vw;
    
    margin-bottom: 1vW;
    padding: 2.8vw;
}

.banner .card .sub-heading {
    color: white;
   font-family: 'Leckerli One', cursive;
    font-size: 1.3rem;
    margin-top: 0vw;
    padding: 0 5vw 2vw;
}

.banner .card .sub-heading button {
    background: none;
    border: none;
    border-radius: 5px;
    color: #35eea4;
    font-family: "Istok Web", sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 2vh;
    padding: 10px;
    text-transform: uppercase;
    transition: box-shadow 0.3s linear 0.1s;
}

.banner .card .sub-heading button:hover {
    cursor: pointer;
    box-shadow: 0 3px 20px 0 #35eea4;
    
   
    text-decoration-color: orange;
    text-decoration:line-through;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
}

.row .my-image {
    border: 1px solid #35eea4;
    
    border-radius: 50%;
   
align-self: center;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    width: 12vw;
    height: 10vw;
    
    background-color: gray;

    
    

}

.row .block
{
  display: block;
    background-color:  #003d66;
  padding-bottom: 15vw;
 
    padding-left: .3vw;
    padding-right: .35vw;
    margin-right:.1vw;
    align-items: center;
   

}
@media only screen and (max-width: 1135px) 
{
  .banner .card .heading
  {
   color:   #d9d9d9;
  
  font-family: 'Abril Fatface', cursive;
    font-size: 5rem;
    margin-top: 0vw;
    
    margin-bottom: 0vh;
    padding: 5vw;
  }
  }
@media only screen and (max-width: 725px) {
    .row {
        flex-direction: column;
    }
    
    .row .my-image {
        width: 60vw;
        margin-left: 7.5vw;
        border-radius: 0%;
        width: 60vw;
        height: 35vw;
       


    }
    .disp
{
  display: none;
}
    .row .block
{
  order: -1;
  width: 85VW;
  height: 40vw;
   
   

}
body {
    margin: 0vw;
    padding: 0vw;
 
    border-right:solid gray 0vw; 
    border-left:solid gray 0vw;

}
.banner .card .heading {
    color:   #d9d9d9;
  font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    margin-top: 0vw;
    
    margin-bottom: 0vh;
    padding: 5vw;
}

ul{
  position: relative;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 


}

 li {
 
  font: 1.3rem "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin-top:0vw;
  padding: 0vw 0vw 0vw 0vw;
  list-style: none;
text-align: center;
display: block; background:transparent;


  }
 a{
  background: transparent;
 
  color:black;
  font-size: 1.3rem;
  margin: 0;
  padding: 8px 0px;
  text-decoration: none;
  font-weight: normal;
  
  transition: background 0.5s linear 0s, color 0.5s linear 0s;
  width: 100%;


}

 a:hover {
  background: black;
  text-decoration: line-through;
   text-decoration-color: black;
   color: white;



  padding-bottom: 8px;
}

}

.paragraph {
    color: white;
    font-family: "Istok Web", sans-serif;
    padding: 5vw 5vw 5vw 5vw;
   font-size: 1.5rem;
}

.icon-group {
    margin-top: 2vh;
}

.icon-group .icon {
    margin-right: 10px;
    width: 25px;
}
ul{
  position: relative;
  margin-left: 3.3vw;
  
   justify-content: space-between;
   margin-right: auto;

}

 li {
 
  font: 1em "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin-top:0vw;
  padding: 0vw 0vw 0vw 0vw;
  list-style: none;
 float: left;
text-align: center;
 width: 25vw;
 background:transparent;


  }
 a{
  background: transparent;
  border-bottom: 1px solid #393939;
  color:black;
  display: block;
  margin: 0;
  padding: 8px 0px;
  text-decoration: none;
  font-weight: normal;
  align-self: center;
  transition: background 0.5s linear 0s, color 0.5s linear 0s;



}

 a:hover {
  background: black;
  text-decoration: line-through;
   text-decoration-color: black;
   color: white;



  padding-bottom: 8px;
}
